.container {
    text-align: center;
    width: 90%;
    border: 1px solid #ddd;
    background: white;
    -webkit-box-shadow: 4px 5px 6px 0px #9a9a9ae8;
    box-shadow: 4px 5px 6px 0px #9a9a9ae8;
    border: 1px solid rgb(189, 189, 189);
}

h4 {
    margin-top: 0.5rem;
}

.gutter-top{
    margin-top: 80px;
}

.spinner-wrpr{
    height: 250px;
    display: flex;
    align-items: center;
}
.spinner-wrpr .spinner{
    margin: auto;
}


.container-one{
    display: flex;
    justify-content: space-between;
}

.container-two{
    display: flex;
    justify-content: space-between;
}